// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
/* myStyle.scss */

$body-color: blue;
$primary: hotpink;
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  background-color: black;
  padding: 50px;
}

img {
  size: 50px;
}

section {
  padding: 20px;
}
