// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
/* myStyle.scss */

$body-color: black;
$primary: blue;
$font-family-base: Arial;

// Include all Bootstrap
@import "~bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  background-color: lemonchiffon;
  padding: 50px;
}

section {
  padding: 20px;
}

span {
  color: green;
  background-color: green;
}
